<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/BuscadorAvanzado.css">
    <script src="/javascripts/buscadorAvanzado.js" charset="utf-8"></script>
    <script src="https://kit.fontawesome.com/4cbe2a5007.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap" rel="stylesheet">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit-icons.min.js"></script>

  </head>
  <body>
    <%-include("header")%>
    <main>
      <h1>Buscador avanzado</h1>
     <div class="containerForm">

      <form class="buscador-avanzado" action="/home/resultadosBuscadorAvanzado" method="get">
        <div class="preguntas">
        <label for="">¿Qué género estás buscando?</label>
      </div>

      <div class="input">
        <select class="generos" name="generoincluido" id="input">
          <option value="" disabled selected>Generos...</option>
        </select>
      </div>

      <div class="preguntas">
        <label for="">¿Qué género queres excluir?</label>
      </div>

      <div class="input">
        <select class="generos2" name="generoexcluido" id="input">
          <option value="" disabled selected>Generos...</option>
        </select>
      </div>

      <div class="preguntas">
        <label for="">¿Qué año de estreno buscas?</label>
      </div>

      <div class="input">
        <input type="text" name="añoestreno" value="" placeholder="Año de estreno" class="ano" id="input">
      </div>

      <div class="preguntas">
        <label for="">¿Cómo queres ver los resulltados?</label>
      </div>

      <div class="input">
        <select name="ordenresultados" id="input">
          <option value="" disabled selected>Orden de resultados</option>
          <option value="vote_average.desc">Por mayor puntaje</option>
          <option value="vote_average.asc">Por menor puntaje</option>
          <option value="first_air_date.desc">Mas nuevo</option>
          <option value="first_air_date.asc">Mas viejo</option>
          <option value="popularity.desc">Por mayor popularidad</option>
          <option value="popularity.asc">Por menor popularidad</option>
        </select>
      </div>

        <div class="submit">
        <button type="submit" name="button" id="submit">Buscar!</button>
      </div>
      </form>

    </div>
    </main>
    <%-include("footer")%>
  </body>
</html>
