<header>
    <nav class="uk-navbar-container uk-margin " uk-sticky uk-navbar>
      <div class="uk-navbar-left">

        <a class="uk-navbar-item uk-logo" href="/home"><img src="/images/LogoProyecto.png" alt=""></a>

        <ul class="uk-navbar-nav esconder">
          <li>
            <a href="/home/seriesFavoritas">
            <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span>
              Favoritos
            </a>
          </li>
          <li>
            <a href="#">Generos</a>
            <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
              <div class="uk-navbar-dropdown-grid uk-child-width-1-2" uk-grid>
                <div>
                  <ul class="uk-nav uk-navbar-dropdown-nav listado-generos">
                    <li><a href="#" class="listagenero">Item</a></li>
                    <li><a href="#"class="listagenero">Item</a></li>
                    <li><a href="#" class="listagenero">Item</a></li>
                    <li><a href="#" class="listagenero">Item</a></li>
                    <li class="uk-nav-divider"></li>
                    <li><a href="#" class="listagenero">Item</a></li>
                    <li><a href="#" class="listagenero">Item</a></li>
                    <li><a href="#" class="listagenero">Item</a></li>
                    <li><a href="#" class="listagenero">Item</a></li>
                  </ul>
                </div>
                <div>
                  <ul class="uk-nav uk-navbar-dropdown-nav listado-generos">
                    <li><a href="#" class="listagenero">Item</a></li>
                    <li><a href="#"class="listagenero">Item</a></li>
                    <li><a href="#" class="listagenero">Item</a></li>
                    <li><a href="#" class="listagenero">Item</a></li>
                    <li class="uk-nav-divider"></li>
                    <li><a href="#" class="listagenero">Item</a></li>
                    <li><a href="#" class="listagenero">Item</a></li>
                    <li><a href="#" class="listagenero">Item</a></li>
                    <li><a href="#" class="listagenero">Item</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <div class="uk-navbar-item ocultar">
          <div><a href="/home/BuscadorAvanzado">BUSCADOR AVANZADO</a></div>
        </div>
        <div class="uk-navbar-item ocultar">
          <div><a href="/home/BuscadorDeUsuarios">BUSCADOR DE USUARIOS</a></div>
        </div>
        <div class="uk-navbar-item ocultar">
         <% if(usuarioLogeado){ %>
          <div><a href="/home/myReviews"><%=usuarioLogeado%></a></div>          
        <% } else{ %> 
          <div><a href="/home/login">LOGIN</a></div> 
        <% } %>
        </div>
        <div class="buscador">
        <div class="uk-navbar-item">         
          <form class="buscador" action="/home/ResultadoDeBuscador" method="get">
            <input class="uk-input uk-form-width-small" name="buscador" type="text" placeholder="Encontra la serie que buscas!">
            <button class="uk-button uk-button-default"><i class="fas fa-search"></i></button>
          </form>
          <a href="/home/registrarse" uk-icon="icon: user"></a>
        </div>
        </div>
      </div>
    </nav>
  </header>