<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">    <link rel="stylesheet" href="/stylesheets/home.css">
  <script src="/javascripts/home.js" charset="utf-8"></script>
  <script src="https://kit.fontawesome.com/4cbe2a5007.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap" rel="stylesheet">

  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/css/uikit.min.css" />
  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit-icons.min.js"></script>
  <title>Document</title>
</head>
<body>
  <%-include("header")%>
    <main>
      <h1>Estas son tus reviews:</h1>    
    
    
  </main>
  <%-include("footer")%>
</body>
</html>