<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/registrarse.css">
    <script src="https://kit.fontawesome.com/4cbe2a5007.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap" rel="stylesheet">
    <script src="/javascripts/SeriesPorGenero.js" charset="utf-8"></script>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit-icons.min.js"></script>

    <title>Registrarse</title>
</head>
<body>
    <%-include("header")%>
    
    <h1>Bienvenido a Series Flash</h1>
    <main>
       
        <div class="containerForm">
           
        <form action="/home/registrarse" method="POST">
            <div class="preguntas">
                <label for="">Ingresa tu nombre de usuario</label> 
            </div>

            <div class="input">
            <input type="text" name="username" value="" placeholder="Usuario" id="input">
            </div>

            <div class="preguntas">
            <label for="">多Como es tu e-mail?</label>
            </div>

            <div class="input">
            <input type="mail" name="email" value="" placeholder="john@mail.com" id="input">
            </div>

            <div class="preguntas"> 
            <label for="">多Cual va a ser tu contrase単a?</label>
            </div>

            <div class="input">
            <input type="password" name="password" placeholder="Contrase単a" id="input">
            </div>
            
            <div class="preguntas">
            <label for="">Indicanos tu fecha de nacimiento</label>
            </div>

            <div class="input">
            <input type="date" name="birth_date" value="" id="input">
            </div>
            
            <div class="submit">
            <input type="submit" value="Registrate!" id="submit">
            </div>

        </form>

    </div>

    </main>
    <%-include("footer")%>
</body>
</html>