<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/ResultadoDeBuscador.css">
    <script src="/javascripts/buscador.js" charset="utf-8"></script>
    <script src="https://kit.fontawesome.com/4cbe2a5007.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap" rel="stylesheet">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit-icons.min.js"></script>

    <title></title>
  </head>
  <body>
    <%-include("header")%>
    <main>
      <h1>Esto encontramos para tu busqueda de " "!</h1>
      <section class="series">
        <div class="resultados">
          <article class="serieBuscada">
            <p></p>
            <a href=""><img src="/images/poster-default.png" alt=""></a>
          </article>
          <article class="serieBuscada">
            <p></p>
            <a href=""><img src="/images/poster-default.png" alt=""></a>
          </article>
          <article class="serieBuscada">
            <p></p>
            <a href=""><img src="/images/poster-default.png" alt=""></a>
          </article>
          <article class="serieBuscada">
            <p></p>
            <a href=""><img src="/images/poster-default.png" alt=""></a>
          </article>
          <article class="serieBuscada">
            <p></p>
            <a href=""><img src="/images/poster-default.png" alt=""></a>
          </article>
          <article class="serieBuscada">
            <p></p>
            <a href=""><img src="/images/poster-default.png" alt=""></a>
          </article>
          <article class="serieBuscada">
            <p></p>
            <a href=""><img src="/images/poster-default.png" alt=""></a>
          </article>
          <article class="serieBuscada">
            <p></p>
            <a href=""><img src="/images/poster-default.png" alt=""></a>
          </article>
          <article class="serieBuscada">
            <p></p>
            <a href=""><img src="/images/poster-default.png" alt=""></a>
          </article>
          <article class="serieBuscada">
            <p></p>
            <a href=""><img src="/images/poster-default.png" alt=""></a>
          </article>
          <article class="serieBuscada">
            <p></p>
            <a href=""><img src="/images/poster-default.png" alt=""></a>
          </article>
          <article class="serieBuscada">
            <p></p>
            <a href=""><img src="/images/poster-default.png" alt=""></a>
          </article>
          <article class="serieBuscada">
            <p></p>
            <a href=""><img src="/images/poster-default.png" alt=""></a>
          </article>
          <article class="serieBuscada">
            <p></p>
            <a href=""><img src="/images/poster-default.png" alt=""></a>
          </article>
          <article class="serieBuscada">
            <p></p>
            <a href=""><img src="/images/poster-default.png" alt=""></a>
          </article>
          <article class="serieBuscada">
            <p></p>
            <a href=""><img src="/images/poster-default.png" alt=""></a>
          </article>
          <article class="serieBuscada">
            <p></p>
            <a href=""><img src="/images/poster-default.png" alt=""></a>
          </article>
          <article class="serieBuscada">
            <p></p>
            <a href=""><img src="/images/poster-default.png" alt=""></a>
          </article>
          <article class="serieBuscada">
            <p></p>
            <a href=""><img src="/images/poster-default.png" alt=""></a>
          </article>
          <article class="serieBuscada">
            <p></p>
            <a href=""><img src="/images/poster-default.png" alt=""></a>
          </article>
        </div>
      </section>
      <button type="button" name="verMas">Ver más</button>
    </main>
    <%-include("footer")%>
  </body>
</html>
